<div class="posts">
        <div class="post">
         <h2>
        {% if post.link %}
         <a href="{{ post.link }}">{{ title }}</a>
         {% else %}
         <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
         {% endif %}
        </h2>
              <div class="meta">
                    <span class="date">
                    {{post.date | date: "%Y-%m-%d"}}
                    </span>
                    {% if post.tags %}
                    <ul class="tag">
                            {% assign items = post.tags %}
                            {% for item in items%}
                            <li>
                                <a href="/tags/{{item}}">
                                    {{item}}
                                </a>
                            </li>
                            {% endfor %}  
                    </ul>
                    {% endif %}
                    {% if post.read_time %}
                    <p class="page__meta"><i class="far fa-clock" aria-hidden="true">
                    </i> {% include read-time.html %}</p>
                    {% endif %}
              </div>
              <div class="entry">
                    {% if post.excerpt %}
                    <p class="archive__item-excerpt" itemprop="description">
                        {{ post.excerpt | markdownify | strip_html | truncate: 180 }}
                    </p>{% endif %}
              </div>
                {% if post.link %}
                <a href="{{ post.link }}">Read More</a>
                {% else %}
                <a href="{{ post.url | relative_url }}" rel="permalink">Read More</a>
                {% endif %}
            </div>
</div>