

{% include seo.html %}
<head>
    <meta charset="UTF-8">

    <title>Home</title>
<style>
.button_detail{
  font-size: 14px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
a.button_detail:hover{
    color: white !important;
    background-color:#262626;
}
</style>

</head>
<body>
    <div style="position: relative;">
            <div class="mySlides2">
                <img src="{{ site.url }}{{ site.baseurl }}\assets\images\post\springboot\login.jpg">
                <div id="text">로그인</div>
            </div>
            <div class="mySlides2">
                    <img src="{{ site.url }}{{ site.baseurl }}\assets\images\post\springboot\registration.jpg">
                <div id="text">회원가입</div>
            </div>
            <div class="mySlides2">
                    <img src="{{ site.url }}{{ site.baseurl }}\assets\images\post\springboot\password.jpg">
                <div id="text">비밀번호 변경</div>
            </div>
            <div class="mySlides2">
                    <img src="{{ site.url }}{{ site.baseurl }}\assets\images\post\springboot\passwordtoken.jpg">
                <div id="text">비밀번호 token 인증</div>
            </div>
            <div>
                <button class="w3-button w3-display-left" onclick="plusDivs2(-1)" style="position: absolute; left: -20px; top: 43%;">&#10094;</button>    
                <button class="w3-button w3-display-right" onclick="plusDivs2(+1)" style="position: absolute; right: -20px; top: 43%;">&#10095;</button>
            </div>
        </div>
        <script>    
        var slideIndex = 1;
        showDivs2(slideIndex);
        
        function plusDivs2(n) {
            showDivs2(slideIndex += n);
        }
        
        function showDivs2(n) {
            var i;
            var x = document.getElementsByClassName("mySlides2");
            if (n > x.length) {slideIndex = 1} 
            if (n < 1) {slideIndex = x.length} ;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            x[slideIndex-1].style.display = "block"; 
        }
        
        </script>
</body>
