---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {font-family: 'Nanum Gothic', sans-serif;}


// #main{
//   width: 30%;
// }


.center-image{
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-button:hover {
    background-color: #262626;
    color: white;
  }

.mySlides img, .mySlides2 img, .mh2-img{
max-width:700px; max-height:400px; width: auto; height: auto;
margin: 0 auto;
display: block;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    background-color: #ff9966;
    color: white;
    padding: 6px 14px;
  }



.nav__list .nav__items a:hover { 
      border-bottom:1px solid #333333;}

.scale {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.3s ease-in-out;   
}
.scale:hover {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
}

//index.html
.index_main {
  width: 90%;
  margin:auto;
}

.page__content, .portfolio-summary {
  font-size: 16px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.portfolio-summary {
  margin-right: auto;
  margin-left: auto;
 
}

.portfolio-list li{
  padding:0px;
}

.project_skill, .project_detail {
  margin:5px 0px 10px 0px;
}



// tag css
.sidebar-tags{
  margin-bottom: 200px;
}

.sidebar-tags .tags {
    list-style-type: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
.sidebar-tags .tags{
  margin-right: 7%;
  margin-left: 7%;
}
    
.sidebar-tags .tags li {
    float: left; 
  }
  
.sidebar-tags .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #494e52;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 15px;
  }
  
// .sidebar-tags .tag::before {
//     background: #fff;
//     border-radius: 10px;
//     box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
//     content: '';
//     height: 6px;
//     left: 10px;
//     position: absolute;
//     width: 6px;
//     top: 10px;
//   }
  
.sidebar-tags .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
.sidebar-tags .tag:hover {
    background-color:#000;
    color: white;
  }


.sidebar-tags .tag:hover::after {
     border-left-color: #000; 
  }
//tag css end


//post css
h2 a {
    color: inherit;
}

.posts > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid #f1f3f5;
}

.post .tag li {
    display: inline;
    margin: 0;
}

.post .meta .tag .date {
  display: inline;
  margin: 0;
  width: 50%;
}

.post .tag li > a {
    margin: 3px 3px 3px 0;
    padding: .5px 4px;
    color: #343a40;
    background-color: #e9ecef;
    border-radius: 3px;
}

.post .tag {
    display: inline;
    font-weight: 300;
    font-size: 14px;
}

a {
    color: #1b6ec2;
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.posts span {
    font-size: 16px;
}
//post css end


//navigation css
.nav__items li ul li{
  margin-top: 5px;
}
//navigation css end

//top
.masthead {
  background-color:#f2f2f2;
  border: 1px solid transparent;
  border-color: #e7e7e7;
}

.masthead__menu .greedy-nav {
  background-color:#f2f2f2;
}

//top end


//post-box
.portfolio-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.project_link {
  color: black !important;
  &:hover, &:focus, &:active, &:visited {
  text-decoration: none !important;
  color: inherit;
  }
}


.project-box {
  box-sizing: border-box;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background-color: white;
  border-radius: 4px;
  border: none;
  transition: transform 0.2s ease-out;
  position: relative;

  width: 80%;
  height: 350px;
  margin-bottom: 100px;
  margin:10px; 
  margin:auto;
}


.project_kind {
  background-color:#034f84; 
  color:white; 
  padding:10px;
  font-weight: bold;
  height: 40px;
}

.project_title {
  font-weight: bolder;
  font-size: 21px;
  height: 50px;
  margin-bottom: 10px;
}

.project_skill{
  height: 70px;
}

.project-contents {
  padding: 20px;
}


.project_excerpt {
  color: #666;
  padding: 10px 0px 15px 0px;
  font-weight: 200;
  font-size: 14px;
  max-height: 70px;
  overflow: hidden;
  height: 100px;
}

.project_btn {
  position: absolute;
  bottom: 20px;
}




.post-box{
  box-sizing: border-box;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background-color: white;
  border-radius: 4px;
  border: none;
  transition: transform 0.2s ease-out;
  position: relative;
  // width: 340px;
  width: 80%;
  // height: 350px;
  // margin-bottom: 20px;
  margin:0 auto;
}

.post_gap{
  height: 20px;
}

.post-box:hover{
  transform: translateY(-2px);
}


.post_kind {
  background-color:#034f84; 
  color:white; 
  padding:10px;
  font-weight: bold;
  height: 40px;
}

.post_title {
  font-weight: bolder;
  font-size: 21px;
  height: 30px;
  margin-bottom: 10px;
}


.post-contents {

  padding: 20px;
  width: 100%;
}

.post_excerpt {
  color: #666;
  padding: 10px 0px 15px 0px;
  font-weight: 200;
  font-size: 14px;
  max-height: 70px;
  overflow: hidden;
  height: 100px;
}


.post_skill{
  height: 50px;
}

.post_detail_btn{
  position: absolute;
  bottom: 30px;
  right: 35px;

  font-size: 1.2em;
  font-weight: 500;
  color: #1b6ec2;
}

.skill_tag {
  display: inline-block;
  color: #fff!important;
  background-color: #a6a6a6!important;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border: 0px;
  margin-bottom: 3px;
}



//recent post

.post-container {
  padding:100px 0px 0px 0px;
}

.post-list {
box-sizing: border-box;
// display: flex;
// flex-wrap: wrap;
margin: auto;
padding: 0;
}


.to_archive{
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  position: absolute;
  right: 15%;
}