---
layout: archive
---

{{ content }}

 <div class="sidebar-tags" id="all-tags">
    <h1>Tags</h1>
    <hr>
    <ul class="tags">
      {% assign items = site.tags | sort %}
      {% for tag in items %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li><a href="{{ site.url }}{{ site.baseurl }}/tags/{{t}}" class="tag">{{t | downcase | replace:" ","-" }}({{ posts | size }})</a></li>
      {% endfor %}
    </ul>
  </div> 


<!-- <div>
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  
  {% for post in paginator.posts %}
  {% include archive-single.html %}
  {% endfor %}
  {% include paginator.html %}
</div> -->

